/************************ Adafruit IO Config *******************************/
#define IO_USERNAME "adafruit username"
#define IO_KEY "aio_adafruit_key"
#define INPUT_FEED "adafruit-input-feed-name"
#define OUTPUT_FEED "adafruit-output-feed-name"

/******************************* WiFi **************************************/
#define WIFI_SSID "wifi name"
#define WIFI_PASS "wifi pass"

/******************************* TUNE **************************************/
#define PLAY_TUNE bool_play_tune_on_message

/******************************* PINS **************************************/
#define LED_PIN pin_id
#define BUTTON_PIN pin_id
#define PIEZO_PIN pin_id
